<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Form View | Food and Agriculture Organization of the United Nations</title>
  <link rel=icon href=images/favicon.ico>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://unpkg.com/formiojs@latest/dist/formio.full.min.css'>
  <link rel="stylesheet" href="styles/site.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src='https://unpkg.com/formiojs@latest/dist/formio.full.min.js'></script>
  <!-- <script src='scripts/app.js'></script> -->
</head>
<body>
  <div id="app">
      <nav class="navbar" v-if="showHeader">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="http://www.fao.org">
                <img class="fao-logo img-responsive" src="images/fao-logo-white.svg" alt="FAO"/>
              </a>
            </div>
          </div>
        </nav>
      <div class="container">
        <section class="form-wrapper">
            <div class="language-bar">
                <div class="btn-group" v-if="languages.length > 1" v-show="!loading">
                    <button class="btn btn-default" @click="setLanguage(lang)" v-for="lang in languages" :key="lang">
                        {{ getLanguageName(lang) }}
                    </button>
                </div>
            </div>
            <div id="formio">
                <div class="loading text-center" v-if="loading">
                    <i class="fas fa-spinner fa-spin"></i>
                </div>
            </div>
        </section>
      </div>
  </div>
  <script src="scripts/app.js"></script>
</body>
</html>