nav.navbar {
  background: #0d6cac;
  border-radius: 0;
  height: 100px;
}

nav.navbar .navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -175px !important;  /* 50% of your logo width */
  display: block;
}

nav .fao-logo {
  display: block;
  width: 350px;
}

img.form-loading {
    margin: auto;
    width: 128px;
    display: block;
    margin-top: 200px;
}

.alert-submitted {
    padding: 30px;
}

.alert-submitted strong {
    display: block;
    margin-bottom: 20px;
}